<a href="https://colab.research.google.com/github/donlee4u/ML_Class/blob/main/2%EC%A3%BC%EC%B0%A8_Python_%EA%B8%B0%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python
# Reference : Lecture at Stanford University
#             https://cs231n.github.io/python-numpy-tutorial/

In [ ]:
!python --version

In [ ]:
ls

In [ ]:
print("Hi TUKorea")

# **Variable types**

## 1. Number : integer, float

In [ ]:
x = 3
print(x)       # Prints "3"
print(type(x)) # Prints "<class 'int'>"
print(x + 1)   # Addition; prints "4"
print(x - 1)   # Subtraction; prints "2"
print(x * 2)   # Multiplication; prints "6"
print(x ** 2)  # Exponentiation; prints "9"
x += 1
print(x)  # Prints "4"
x *= 2
print(x)  # Prints "8"
y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

In [ ]:
x = 3
print(x)

## 2. Booleans : True, False

In [ ]:
t = True   # T is upper case
f = False  # F is upper case
print(type(t)) # Prints "<class 'bool'>"
print (type(f)) # Prints "<class 'bool'>"
print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

<class 'bool'>
<class 'bool'>
False
True
False
True

## 3. String

In [ ]:
t1 = 'Hi TUK'  # String literals can use single quotes
t2 = "Tech University Korea"  # or double quotes; it does not matter.
print(type(t1)) # class <str>
print (t1) # Hi TUK

# we can access string character using index in Python!
print (t1[1]) # i
print (t2[2]) # c
print (t2[0:3]) # Slicing, prints "Tec"
print (t2[:4]) # Tech
print (t2[2:]) #  University Korea

# Length of the string
print (len(t1)) # String length; prints "6"
print (len(t2)) # String length; prints "21"

# string concatenation
s = t1 + '-' + t2  # Hi TUK-Tech University Korea
print(s)

In [ ]:
# print string with the value of variables together!
# %s: str,  %d: int, %f: float
t1 = 'Hi!'
t2 = "TUKOREA"
x1 = '%s  %s %d' %(t1, t2, 2025) # method 1
print(x1)

x2 = f'{t1}  {t2} {2025}' # method 2 ("f-string" for python 3.6)
print(x2)

x3 = '{}  {} {}'.format(t1, t2, 2025) # method 3 (".format" method)
print(x3)

Hi!  TUKOREA 2025
Hi!  TUKOREA 2025
Hi!  TUKOREA 2025

In [ ]:
s = "TUKOREA"
print(s.capitalize())  # Capitalize a string; prints "Tukorea"
print(s.upper())       # Convert a string to uppercase; prints "TUKOREA"
print(s.rjust(10))     # Right-justify a string, padding with spaces; prints "   TUKOREA"
print(s.center(10))    # Center a string, padding with spaces; prints "  TUKOREA "
# Replace all instances of one substring with another;
print(s.replace('TU', 'Tech University of '))

# **Python Containers**

## 1. List

In [ ]:
xs = [3, 1, 2]    # Create a list
print(xs, xs[2])  # Prints "[3, 1, 2] 2"
print(xs[-1])     # Negative indices count from the end of the list; prints "2"
xs[2] = 'TUK'     # Lists can contain elements of different types
print(xs)         # Prints "[3, 1, 'TUK']"
xs.append('KOREA')  # Add a new element to the end of the list
print(xs)         # Prints "[3, 1, 'TUK', 'KOREA']"
x = xs.pop()      # Remove and return the last element of the list
print(x)
print(xs)
print(x, xs)      # Prints "KOREA [3, 1, 'TUK']"

In [ ]:
# Slicing
nums = list(range(5))     # range is a built-in function that creates a list of integers
print(nums)               # Prints "[0, 1, 2, 3, 4]"
print(nums[2:4])          # Get a slice from index 2 to 4 (exclusive); prints "[2, 3]"
print(nums[2:])           # Get a slice from index 2 to the end; prints "[2, 3, 4]"
print(nums[:2])           # Get a slice from the start to index 2 (exclusive); prints "[0, 1]"
print(nums[:])            # Get a slice of the whole list; prints "[0, 1, 2, 3, 4]"
print(nums[:-1])          # Slice indices can be negative; prints "[0, 1, 2, 3]"
nums[2:4] = [8, 9]        # Assign a new sublist to a slice
print(nums)               # Prints "[0, 1, 8, 9, 4]"

In [ ]:
# Loop
for i in range(3):
    print(i)
    print("Hi TUK")

# Loop using list
animals = ['cat', 'dog', 'monkey']
for i in animals:   # Prints "cat", "dog", "monkey", each on its own line.
    print(i)

In [ ]:
# Loop
animals = ['cat', 'dog', 'monkey']

# print out index with the element together!
for idx, i in enumerate(animals):
    print('#%d: %s' % (idx + 1, i))

In [ ]:
# Loop
nums = [0, 1, 2, 3, 4]
squares = []     #empty list

for x in nums:
    print(x)
    squares.append(x ** 2) # get exponential of each of the original element in the list
print(squares)

In [ ]:
# Loop
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0] # List comprehensions can contain conditions
print(even_squares)  # Prints "[0, 4, 16]"

even_squares = [x ** 2 for x in nums if x % 2 == 1] # List comprehensions can contain conditions
print(even_squares)  # Prints "[1,9]"

## 2. Directory(key, value)

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'} # Create a new dictionary using {} --> {'key':'value'}
print(type(d))                 # <class dict>
print(d['cat'])                # Get an entry from a dictionary; prints "cute"
print('cat' in d)              # Check if a dictionary has a given key; prints "True"
print('skku' in d)             # False
d['fish'] = 'wet'              # Add new entry(key,value-->fish,wet) in a dictionary
print(d)                       # prints "{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}"
print(d['fish'])               # Prints "wet"
# print(d['monkey'])           # KeyError: 'monkey' not a key of d
print(d.get('monkey', 'N/A'))  # Get an element with a default; prints "N/A"
print(d.get('fish', 'N/A'))    # Get an element with a default; prints "wet"
del d['fish']                  # Remove an element from a dictionary
print(d)                       # prints "{'cat': 'cute', 'dog': 'furry'}"
print(d.get('fish', 'N/A'))    # "fish" is no longer a key; prints "N/A"

In [ ]:
# another dictionarly example
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
  legs = d[animal]                    # each animals' value (# of legs)
  print('A {} has {} legs'.format(animal, legs))
# Prints "A person has 2 legs", "A cat has 4 legs", "A spider has 8 legs"

In [ ]:
nums = [0, 1, 2, 3, 4]
# Dictionary comprehensions can contain conditions
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}

print(even_num_to_square)           # Prints "{0: 0, 2: 4, 4: 16}"

## 3. Sets

In [ ]:
animals = {'cat', 'dog'} # set is similar as dictionarly, but does not have a value

print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"
animals.add('fish')       # Add an element to a set
print(animals)            # Prints "{'fish', 'dog', 'cat'}"
print('fish' in animals)  # Prints "True"
print(len(animals))       # Number of elements in a set; prints "3"
animals.add('cat')        # Adding an element that is already in the set does nothing
print(animals)            # Prints "{'fish', 'dog', 'cat'}"
print(len(animals))       # Prints "3"
animals.remove('fish')    # Remove an element from a set
print(animals)            # Prints "{'dog', 'cat'}"
print(len(animals))       # Prints "2"

## 4. Tuples (Immutable)

In [ ]:
# List
mylist = [1, 2, 3]
mylist[0] = 999
print(mylist)     # [999, 2, 3]

In [ ]:
# Tuples
mytuple = (1, 2, 3)
mytuple[0] = 999
print(mytuple)     #TypeError

In [ ]:
# Create a dictionary with tuple keys
d = {(x, x + 1): x for x in range(10)}   # key: (tuple), value: int
print(d)
t = (5, 6)        # Create a tuple
print(type(t))    # Prints "<class 'tuple'>"
print(d[t])       # Prints "5"   t=(5,6) => d[5,6] = 5
print(d[(1, 2)])  # Prints "1"

# Conditionals in Python

In [ ]:
score = int(input("점수를 입력 ==> "))

if score >= 90 :
    print("A", end='')
elif score >= 80 :
    print("B", end='')
elif score >= 70 :
    print("C", end='')
elif score >= 60 :
    print("D", end='')
else :
    print("F", end='')
print("학점입니다.")

In [ ]:
# 컴퓨터와 가위,바위,보 게임
import random
print("컴퓨터와 가위,바위,보 게임하기!")

while True:
    myHand = input("가위/바위/보를 입력하세요!!! ==>")
    comHand = random.choice(["가위","바위","보"])
    print("컴퓨터의 선택은 ==>", comHand)

    if myHand == "가위" :
        if comHand == "가위":
            print("비겼습니다. ㅡ.ㅡ")
        elif comHand == "바위":
            print("졌습니다. ㅠㅠ")
        elif comHand == "보" :
            print("이겼습니다. ^^")
        break

    elif myHand == "바위" :
        if comHand == "가위" :
           print("이겼습니다. ^^")
        elif comHand == "바위" :
           print("비겼습니다. ㅡ.ㅡ")
        elif comHand == "보" :
           print("졌습니다. ㅠㅠ")
        break

    elif myHand == "보" :
        if comHand == "가위" :
            print("졌습니다. ㅠㅠ")
        elif comHand == "바위" :
            print("이겼습니다. ^^")
        elif comHand == "보" :
            print("비겼습니다. ㅡ.ㅡ")
        break

    else :
        print("\n")
        print("가위/바위/보 중 하나를 내세요.")

컴퓨터와 가위,바위,보 게임하기!
가위/바위/보를 입력하세요!!! ==>ㄳ
컴퓨터의 선택은 ==> 보


가위/바위/보 중 하나를 내세요.
가위/바위/보를 입력하세요!!! ==>ㅇㄹ
컴퓨터의 선택은 ==> 가위


가위/바위/보 중 하나를 내세요.
가위/바위/보를 입력하세요!!! ==>가위
컴퓨터의 선택은 ==> 가위
비겼습니다. ㅡ.ㅡ

In [ ]:
n = int(input("정수를 입력하시오: "))
fact = 1
for i in range(1, n+1):
	fact = fact * i
print(n, "!은", fact, "이다.")

정수를 입력하시오: 1
1 !은 1 이다.

In [ ]:
#  f(x) = x^2 - x - 1 = 0
COUNT = 1000
START = 1.0
END = 2.0

for i in range(COUNT):
    x = START + i*((END-START)/COUNT)
    f = (x**2 -x -1)
    if abs(f-0.0) < 0.01 :
        print("방정식의 해는 ", x)

In [ ]:
# 1과 10까지의 합 계산
# 제어 변수를 선언한다.
i = 1
sum = 0

while i <= 10 :     # i 값이 10보다 작으면 반복
	sum = sum + i
	i = i + 1

print("합계는", sum)

In [ ]:
while True:
    light = input('신호등 색상을 입력하시오(red, yellow, green) ')
    if light == 'green':
        break
print( '전진!!')

In [ ]:
for i in range(1, 11):
    if i%3 == 0 :		# 3의 배수이면
        continue		# 다음 반복을 시작한다.
    print(i, end=" ")		# 줄바꿈을 하지 않고 스페이스만 출력한다.

In [ ]:
import random

count = 0
dice1, dice2, dice3 = 0, 0, 0

while True:
    count += 1
    dice1 = random.randint(1,6)
    dice2 = random.randint(1,6)
    dice3 = random.randint(1,6)

    if(dice1 == dice2) and (dice2 == dice3):
        break

print("3개 주사위는 모두", dice1, "입니다.")
print("같은 숫자가 나오기까지", count, "번 던졌습니다.")

# Fuctions

In [ ]:
def sign(x):
  if x > 0:
    return 'positive'
  elif x < 0:
    return 'negative'
  else:
    return 'zero'

# test the created function
for x in [-1, 0, 1]:
  print('{} has a sign {}'.format(x,sign(x)))

-1 has a sign negative
0 has a sign zero
1 has a sign positive

In [ ]:
def hello(name, loud=False):
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob') # Prints "Hello, Bob"
hello('Fred', loud=True)  # Prints "HELLO, FRED!"

In [ ]:
def get_area(radius):
    area = 3.14 * radius ** 2
    return area

result = get_area(3)
print("반지름이 3인 원의 면적=", result)

# Importing in Python: Math and plotting

In [ ]:
#Just about every standard math function on a calculator has a python equivalent pre made.
#however, they are from the 'math' package in python. Let's add that package!
import math

float1 = 5.75
float2 = 2.25

print(math.log(float1))
print(math.exp(float2))
print(math.pow(2,5))
# There is a quicker way to write exponents if you want:
print(2.0**5.0)

#Like in MATLAB, you can expand the math to entire lists
list3 = [1, 2, 3, 4, 5]
print(2 * list3) # [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
#We can plot easily in Python like in matlab, just import the relevant package!
%matplotlib inline
import matplotlib.pyplot as plt

x_vals = [-2, -1, 0, 1, 2]
y_vals = [-4, -2, 0, 2, 4]
plt.plot(x_vals, y_vals)